@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Poppins';
}

:root {
  width: 100dvw;
  height: 100dvh;
  --bg-brightness: 0.4;
  --small-padding: clamp(2px, 0.5vw, 5px);
  --medium-padding: clamp(5px, 1vw, 10px);
  --large-padding: clamp(10px, 2vw, 20px);
  --light-blue: hsl(196, 100%, 90%);
  --blue: hsl(196, 60%, 60%);
  --dark-blue: hsl(196, 60%, 40%);
  --light-gray: hsl(0, 0%, 90%);
  --gray: hsl(0, 0%, 50%);
  --dark-gray: hsl(0, 0%, 20%);

  --small-gap: 0.5vw;
  --medium-gap: 1vw;
  --large-gap: 2vw;

  --piano-gap: 2px;
  --piano-height: clamp(120px, 20vw, 200px);
  --piano-key-width: clamp(40px, 10vw, 80px);
  --piano-key-black-marging: calc(clamp(-40px, -5vw, -20px) - (var(--piano-gap) / 2));

  --guitar-finger-size: clamp(16px, 3vw, 24px);
  --guitar-horizontal-gap: clamp(10px, 4vw, 40px);
  --guitar-vertical-gap: clamp(2px, 0.5vw, 7px);
  --transition-duration: 0.1s;
}

button,
input,
select,
input[type='radio'] + label {
  border-radius: 0.5vh;
  background-color: var(--light-blue);
  border: none;
  padding: var(--medium-padding);
  color: black;
  &:hover {
    filter: brightness(0.9) saturate(1.2);
  }
  &:active {
    filter: saturate(3) brightness(0.8);
  }
  &:disabled,
  &[disabled-like],
  &:read-only:not(select, button, label) {
    background-color: var(--light-gray);
    cursor: copy;
  }
}

input {
  min-width: 35px;
}

select option {
  color: black;
}

label.error {
  background-color: transparent;
  color: rgb(255, 178, 178);
  font-size: smaller;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

[invisible] {
  visibility: hidden !important;
}

.container {
  padding: var(--large-padding);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.align-center {
  place-items: center;
}

.no-wrap {
  flex-wrap: nowrap;
}

.text-no-wrap {
  text-wrap: nowrap;
}

.gap-sm {
  gap: var(--small-gap);
}

.gap-md {
  gap: var(--medium-gap);
}

.gap-lg {
  gap: var(--large-gap);
}

.row-group {
  flex-wrap: nowrap;
  > :first-child {
    border-radius: 0.5vh 0 0 0.5vh !important;
  }
  > :last-child {
    border-radius: 0 0.5vh 0.5vh 0 !important;
  }
  > * {
    border-radius: 0 !important;
    border-inline: 1px solid var(--blue);
  }
}

.flex-grow {
  flex: 1 1 0px;
}

.text-small {
  font-size: small;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  .modal-content {
    position: relative;
    background-color: var(--light-gray);
    border-radius: 0.5vh;
    padding: var(--large-padding);
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: auto;
    * {
      color: black;
    }
  }
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: var(--medium-padding);
    cursor: pointer;
    background-color: var(--blue);
  }
}

body {
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('./bg-image.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(var(--bg-brightness));
  -moz-filter: brightness(var(--bg-brightness));
  -o-filter: brightness(var(--bg-brightness));
  -ms-filter: brightness(var(--bg-brightness));
  filter: brightness(var(--bg-brightness));
}

header {
  position: sticky;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  padding: var(--small-padding);
}

nav {
  position: sticky;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  padding: var(--small-padding);
  padding-bottom: var(--medium-padding);
  gap: var(--small-gap);
  * {
    color: black;
  }
  button {
    cursor: pointer;
  }
}

.main-content {
  width: 100%;
  padding-inline: 0.5dvw;
  padding-bottom: var(--small-padding);
  margin-inline: auto;
  flex: 1 1 0px;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-areas:
    'instruments'
    'analysis'
    'sub-super'
    'transpose-invert'
    'matrix';
  grid-template-rows: auto auto auto auto 1fr;
  @media screen and (min-width: 1200px) {
    width: clamp(300px, 100dvw, 1400px);
    padding-inline: clamp(30px, 15vw, 100px);
    grid-template-areas:
      'instruments instruments instruments'
      'analysis analysis analysis'
      'sub-super sub-super matrix'
      'transpose-invert transpose-invert matrix';
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

footer {
  font-size: clamp(0.5rem, 1vw, 0.8rem);
  background-color: rgba(255, 255, 255, 0.75);
  text-align: center;
  padding: var(--medium-padding);
  * {
    color: black;
  }
}

.combo-button {
  padding: 0;
  display: flex;
  text-align: center;
  input[type='radio'] {
    display: none;
    &:checked + label {
      filter: saturate(3) brightness(0.8);
    }
  }
  label {
    padding: var(--medium-padding);
    cursor: pointer;
    border-inline: 1px solid var(--blue) !important;
    border-radius: 0 !important;
    &:first-of-type {
      border-radius: 0.5vh 0 0 0.5vh !important;
      border-inline: none;
    }
    &:last-of-type {
      border-radius: 0 0.5vh 0.5vh 0 !important;
      border-inline: none;
    }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
}

#piano {
  align-items: flex-start;
  display: flex;
  height: var(--piano-height);
  gap: var(--piano-gap);
  position: relative;
  .piano-key {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    width: var(--piano-key-width);
    height: 100%;
    padding: var(--small-padding);
    background-color: white;
    color: #484848;
    cursor: pointer;
    flex: 0 0 1;
    border-radius: 0 0 0.5vh 0.5vh;
    &[data-accidental] {
      z-index: 10;
      height: 50%;
      margin-left: calc(var(--piano-key-black-marging));
      margin-right: var(--piano-key-black-marging);
      background-color: #222222;
      color: white;
    }
    &.selected {
      filter: invert(0.2) sepia(0.5) hue-rotate(180deg) saturate(2);
    }
    &:first-child {
      border-radius: 0.5vh 0 0.5vh 0.5vh;
    }
    &:last-child {
      border-radius: 0 0.5vh 0.5vh 0.5vh;
    }
  }
}

#guitar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #be9a82;
  padding-block: 5px;
  padding-inline: calc(var(--guitar-horizontal-gap) * 0.7);
  .guitar-string {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--guitar-horizontal-gap);
    position: relative;
    width: fit-content;
    max-width: max-content;
    &::before {
      background-color: #000;
      content: '';
      position: absolute;
      height: 2px;
      left: calc(var(--guitar-horizontal-gap) * -0.5);
      width: calc(100% + var(--guitar-horizontal-gap));
    }
    &::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 5px;
      background-color: #000;
      left: calc(var(--guitar-horizontal-gap) * -0.5);
    }
  }

  .guitar-finger {
    display: flex;
    flex-direction: column;
    width: var(--guitar-finger-size);
    height: var(--guitar-finger-size);
    text-align: center;
    justify-content: center;
    border-radius: 100%;
    border: 1px solid #000;
    margin: calc(var(--guitar-vertical-gap) * 0.5) 0px;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    transition: all var(--transition-duration) linear;
    color: black;
    &::before {
      content: '';
      align-self: stretch;
      border-left: 1px solid #000;
      position: absolute;
      height: calc(110% + var(--guitar-vertical-gap));
      right: calc(var(--guitar-horizontal-gap) * -0.5);
    }
    &.selected {
      background-color: var(--light-blue);
      border: 1px solid var(--blue);
    }
    &.full-guitar {
      display: none;
    }
  }
  &[complete-mode] {
    .guitar-finger.full-guitar {
      display: flex;
    }
  }
}

#instruments {
  grid-area: instruments;
}

#analysis-data {
  grid-area: analysis;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

#sub-super-sets {
  grid-area: sub-super;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  #subsets-display,
  #supersets-display {
    font-size: small;
    column-count: 3;
    flex: 1 1 0px;
    min-width: 50px;
    min-height: 100px;
    overflow-y: auto;
    border-radius: 0.5vh;
    background-color: var(--light-gray);
    border: none;
    padding: var(--medium-padding);
    color: black;
    cursor: copy;
    &:hover {
      filter: brightness(0.9) saturate(1.2);
    }
    &:active {
      filter: saturate(3) brightness(0.8);
    }
    @media screen and (min-width: 360px) {
      column-count: 2;
    }
    @media screen and (min-width: 600px) {
      column-count: 3;
    }
    @media screen and (min-width: 800px) {
      column-count: 4;
    }
    @media screen and (min-width: 1000px) {
      column-count: 5;
    }
    @media screen and (min-width: 1200px) {
      column-count: 2;
    }
    @media screen and (min-width: 1600px) {
      column-count: 3;
    }
  }
}

#analysis-matrix {
  grid-area: matrix;
}

#analysis-transpose-invert {
  grid-area: transpose-invert;
}

div:has(> #solomon-name) {
  grid-column: span 1;
  @media screen and (min-width: 480px) {
    grid-column: span 2;
  }
}

.notification {
  padding: var(--medium-padding);
  border-radius: 0.5vh;
  background-color: var(--dark-gray);
  color: white;
  opacity: 1;
  transition: all var(--transition-duration) ease-in-out;
}

[play-for] {
  cursor: pointer;
}

#matrix-display table {
  border-collapse: collapse;
  cursor: copy;
  th,
  td {
    padding-inline: var(--medium-padding);
    background-color: var(--light-blue);
    color: black;
    text-align: center;
    &:hover,
    &.hover {
      filter: brightness(0.9) saturate(1.2);
    }
  }
  thead {
    tr:first-child {
      border-bottom: solid 1px var(--blue);
      th:first-child,
      td:first-child {
        border-radius: 0.5vh 0 0 0;
      }
      th:last-child,
      td:last-child {
        border-radius: 0 0.5vh 0 0;
      }
    }
  }
  tbody {
    tr:last-child {
      th:first-child,
      td:first-child {
        border-radius: 0 0 0 0.5vh;
      }
      th:last-child,
      td:last-child {
        border-radius: 0 0 0.5vh 0;
      }
    }
  }
  tr {
    th:first-child,
    td:first-child {
      border-right: solid 1px var(--blue);
    }
  }
}
